<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

	<Appenders>
		<Console name="ConsoleAppender" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
			<Filters>
				<ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</Console>
		
		<File name="FileAppender" fileName="E:\Java\logs\bakery-shop\application.log">	<!-- Change log path corresponding to your environment -->
			<PatternLayout pattern="%d{yyy-MM-DD HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
			<Filters>
				<ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
			</Filters>
		</File>
        		
	</Appenders>
	
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="ConsoleAppender"/>
			<AppenderRef ref="FileAppender"/>
		</Root>
	</Loggers>
		
</Configuration>