<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    version="6.0">
    
	<context-param>
		<param-name>ViewFilePath</param-name>
		<param-value>viewSiteMap.properties</param-value>
	</context-param>
	<context-param>
		<param-name>ServletFilePath</param-name>
		<param-value>servletSiteMap.properties</param-value>
	</context-param>
	<context-param>
		<param-name>AuthenticationFilePath</param-name>
		<param-value>authentication.properties</param-value>
	</context-param>
	<context-param>
		<param-name>Log4j2_FilePath</param-name>
		<param-value>log4j2.xml</param-value>
	</context-param>
	
	<listener>
		<description>Log4jConfigListener</description>
		<listener-class>com.sonvu.bakery.listener.Log4jConfigListener</listener-class>
	</listener>
	
	<listener>
		<description>PropertiesConfigListener</description>
		<listener-class>com.sonvu.bakery.listener.PropertiesConfigListener</listener-class>
	</listener>
	
	<filter>
		<filter-name>DispatchFilter</filter-name>
		<filter-class>com.sonvu.bakery.filter.DispatchFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>DispatchFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<error-page>
		<error-code>400</error-code>
		<location>/views/error_404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/views/error_500.html</location>
	</error-page>
	
</web-app>
